[submodule "plugins/hexo-renderers"]
	path = plugins/hexo-renderers
	url = https://github.com/dimaslanjaka/hexo-renderers
	branch = pre-release
[submodule "src-posts"]
	path = src-posts
	url = https://github.com/dimaslanjaka/source-posts.git
	branch = posts
