[submodule "src-posts"]
	path = src-posts
	url = https://github.com/dimaslanjaka/source-posts.git
	branch = posts
[submodule "themes/hexo-theme-claudia"]
	path = themes/hexo-theme-claudia
	url = https://github.com/dimaslanjaka/hexo-theme-claudia.git
	branch = private
[submodule "themes/hexo-theme-butterfly"]
	path = themes/hexo-theme-butterfly
	url = https://github.com/dimaslanjaka/hexo-theme-butterfly.git
	branch = private
